.Cart {
  padding: 1rem;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  background: #fff;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  flex: 0 0 calc(25% - 1rem);
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

}
a {
  text-decoration: none;
}

.Product {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.Cart:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.Name {
  flex: 1;
  display: block;
  min-height: 7rem;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  min-height: 2.5rem;
}

.Image {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.Price {
  font-size: 1.1rem;
  font-weight: 700;
  color: #535050;
}

.Add,
.DisabledAdd {
  margin-top: auto;
  padding: 0.5rem 1rem;
  width: 100%;
  background: #cd5a9b;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
  position: relative;
}

.Add:hover {
  background: #8b3d60;
}

.Add .tooltip {
  display: none;
}
.DisabledAdd .tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 125%; /* где показывать */
  left: 50%;
  transform: translateX(-50%);
  background: #60093a;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  white-space: nowrap;
  transition: opacity 0.3s;
  z-index: 1;
}

.DisabledAdd:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
